<a href="https://colab.research.google.com/github/MatheusHenriqueOliveira/DataFrame/blob/main/Funcionarios_Matheus_D3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd

dados = {
    'Nome': ['Ana', 'Beto', 'Carla', 'Daniel', 'Eva', 'Fábio'],
    'Cargo': ['Gerente', 'Analista', 'Analista', 'Assistente', 'Gerente', 'Analista'],
    'Idade': [35, 28, 30, 25, 40, 32],
    'Salário': [5000, 3500, 3500, 2500, 5500, 3800],
    'Departamento': ['RH', 'TI', 'TI', 'Administrativo', 'RH', 'TI'],
    'Experiência (anos)': [8, 4, 6, 2, 10, 5]
}

funcionarios_empresa = pd.DataFrame(dados)

print(funcionarios_empresa)

     Nome       Cargo  Idade  Salário    Departamento  Experiência (anos)
0     Ana     Gerente     35     5000              RH                   8
1    Beto    Analista     28     3500              TI                   4
2   Carla    Analista     30     3500              TI                   6
3  Daniel  Assistente     25     2500  Administrativo                   2
4     Eva     Gerente     40     5500              RH                  10
5   Fábio    Analista     32     3800              TI                   5

In [29]:
print('1) Base de dados: \n', funcionarios_empresa)

1) Base de dados:
      Nome       Cargo  Idade  Salário    Departamento  Experiência (anos)
0     Ana     Gerente     35     5000              RH                   8
1    Beto    Analista     28     3500              TI                   4
2   Carla    Analista     30     3500              TI                   6
3  Daniel  Assistente     25     2500  Administrativo                   2
4     Eva     Gerente     40     5500              RH                  10
5   Fábio    Analista     32     3800              TI                   5

In [30]:
print("2) Tamanho do dataframe: \n", funcionarios_empresa.shape)

2) Tamanho do dataframe:
 (6, 6)

In [31]:
x = 3
print(f"3) linha {x} do dataframe: \n", funcionarios_empresa.loc[x])

3) linha 3 do dataframe:
 Nome                          Daniel
Cargo                     Assistente
Idade                             25
Salário                         2500
Departamento          Administrativo
Experiência (anos)                 2
Name: 3, dtype: object

In [32]:
print("4) Verificar se o DataFrame está vazio")
if funcionarios_empresa.empty:
  print("está vazio")
else:
  print("não está vazio")

4) Verificar se o DataFrame está vazio
não está vazio

In [33]:
print("5) Os 5 primeiros registros do Dataframe")
print(funcionarios_empresa.head(5))

5) Os 5 primeiros registros do Dataframe
     Nome       Cargo  Idade  Salário    Departamento  Experiência (anos)
0     Ana     Gerente     35     5000              RH                   8
1    Beto    Analista     28     3500              TI                   4
2   Carla    Analista     30     3500              TI                   6
3  Daniel  Assistente     25     2500  Administrativo                   2
4     Eva     Gerente     40     5500              RH                  10

In [34]:
print("6) excluindo uma linha")
print(funcionarios_empresa.drop(2))

6) excluindo uma linha
     Nome       Cargo  Idade  Salário    Departamento  Experiência (anos)
0     Ana     Gerente     35     5000              RH                   8
1    Beto    Analista     28     3500              TI                   4
3  Daniel  Assistente     25     2500  Administrativo                   2
4     Eva     Gerente     40     5500              RH                  10
5   Fábio    Analista     32     3800              TI                   5

In [35]:
novo_item = ['Matheus', 'Estagiário', 22, 1000, 'TI', 1]
funcionarios_empresa.loc[len(funcionarios_empresa)] = novo_item
print("7) DataFrame com mais um item: \n", funcionarios_empresa)

7) DataFrame com mais um item:
       Nome       Cargo  Idade  Salário    Departamento  Experiência (anos)
0      Ana     Gerente     35     5000              RH                   8
1     Beto    Analista     28     3500              TI                   4
2    Carla    Analista     30     3500              TI                   6
3   Daniel  Assistente     25     2500  Administrativo                   2
4      Eva     Gerente     40     5500              RH                  10
5    Fábio    Analista     32     3800              TI                   5
6  Matheus  Estagiário     22     1000              TI                   1

In [42]:
transposto = funcionarios_empresa.T
print("8) DataFrame transposto:\n", transposto)

8) DataFrame transposto:
                           0         1         2               3        4  \
Nome                    Ana      Beto     Carla          Daniel      Eva
Cargo               Gerente  Analista  Analista      Assistente  Gerente
Idade                    35        28        30              25       40
Salário                5000      3500      3500            2500     5500
Departamento             RH        TI        TI  Administrativo       RH
Experiência (anos)        8         4         6               2       10

                           5           6
Nome                   Fábio     Matheus
Cargo               Analista  Estagiário
Idade                     32          22
Salário                 3800        1000
Departamento              TI          TI
Experiência (anos)         5           1

In [47]:
print("9) mostrando primeira e segunda coluna: \n", funcionarios_empresa.iloc[:, 0:2])

9) mostrando primeira e segunda coluna:
       Nome       Cargo
0      Ana     Gerente
1     Beto    Analista
2    Carla    Analista
3   Daniel  Assistente
4      Eva     Gerente
5    Fábio    Analista
6  Matheus  Estagiário

In [52]:
descricao_projeto = """O projeto foi desenvolvido utilizando a biblioteca pandas para manipulação de dados em Python.
Primeiro, criamos um dataframe de amostra com várias colunas e linhas. Então nós realizamos
operações solicitadas: exibição completa do DataFrame, apresentação de tamanho, acesso a um
linha específica, verifique se o DataFrame está vazio, exiba os primeiros registros, exclua
e adicionar linhas, transpor um DataFrame e exibir colunas específicas. Principal
As ferramentas utilizadas foram funções do pandas para manipular frames de dados. O maior desafio
era garantir que todas as operações fossem realizadas corretamente e que os resultados fossem como tais
claramente apresentado."""

print("10) Desenvolvimento do projeto: \n\n", descricao_projeto)

10) Desenvolvimento do projeto:

 O projeto foi desenvolvido utilizando a biblioteca pandas para manipulação de dados em Python.
Primeiro, criamos um dataframe de amostra com várias colunas e linhas. Então nós realizamos
operações solicitadas: exibição completa do DataFrame, apresentação de tamanho, acesso a um
linha específica, verifique se o DataFrame está vazio, exiba os primeiros registros, exclua
e adicionar linhas, transpor um DataFrame e exibir colunas específicas. Principal
As ferramentas utilizadas foram funções do pandas para manipular frames de dados. O maior desafio
era garantir que todas as operações fossem realizadas corretamente e que os resultados fossem como tais
claramente apresentado.